backup/
nginx-conf/passwords
nginx/conf/nginx.conf
data/**
.env
nginx-config/nginx.conf
scratch.md
.env.bak
test_bash.sh
test_bash_2.sh
nginx-config/test
ebak.env
CRONTAB/logs/**
passwords.txt
replace.txt
ETL/.ipynb_checkpoints/*